
.row {
    margin: 50px;
}

.col-6 {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
}

.col-6 > p {
    font-size: 2em;
}

i {
    font-size: 2em;
}

.bi-9-circle-fill {
    color: blue;
}

.bi.bi-alarm-fill {
    color: red;
}

.bi.bi-bicycle {
    color: green;
}

